body{
    font-family: 'Open Sans', sans-serif;
    color: yellow;
}


.wrapper{
    display: flex;
    flex-flow: wrap;
    text-align: center;
}

.wrapper * {
    padding: 5px ;
    margin: 2px;
    flex: 1 100%;
    border-radius: 10px;
}

.header {
    background: rgb(0, 0, 0);
    height: 120px;
}

.footer {
    background: rgb(0, 0, 0);
    height: 80px;
}

.main {
    text-align: left;
    background: rgb(0, 0, 0);
    height: 300px;
    font-size: 24px;
}
.biggie{
    width: 300px;
    height: 300px;
    align-items: flex-end;
}

.aside1 {
    background: rgb(0, 0, 0);

}


@media all and (min-width: 800px){
    .main{
        flex: 1;
    }
    .aside1{
        order: 2;
    }
    .main{
        order: 3;
    }
    .footer{
        order: 4;
    }
}


@media all and (min-width: 600px){
    .aside {
        flex: 1;
    }
}

