body{
    font-family: 'Open Sans', sans-serif;
    color: rgb(156, 156, 156);
    background-color: rgb(0, 0, 0);
    text-decoration: none;
}


.wrapper{
    display: flex;
    flex-flow: wrap;
    text-align: center;
}

.wrapper * {
    padding: px ;
    margin: 1px;
    flex: 1 100%;
    
}

.header {
    background: rgb(0, 0, 0);
    height: 150px;
    font-family: 'Gochi Hand', cursive;
    text-align: center;
    text-decoration: none!important;

}

.menu {
    text-align: center;
}
.header > h1 >a{
    font-size: 50px;
    color: white;
}



.footer {
    background: rgb(0, 0, 0);
    height: 80px;
}

.main {
    text-align: left;
    background: rgb(0, 0, 0);
    height: 800px;
    font-size: 24px;
    text-decoration: none;
    overflow: scroll;

}
.main a{
    text-decoration: none;
    color: white;

}
footer .footer{
    text-align: center;
    background-color: black;
}

.footer > li{
    display: inline;
    height: 20px;
    background-color: black;
    text-align: center;
   
}
footer i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #585858;
    background-color: black;
    text-align: center;
    
}

.landing-image{
    width: 250px;
    height: 250px;
    align-items: center;
    animation-name: hero-zoom;
animation-duration: 1s;
animation-fill-mode: forwards;
float: left;

}


@keyframes hero-zoom{
    from{
        transform: scale(2);
    }
    to{
        transform: scale(1);
    }
}
/* i want theese to line up horizontaly below 800px*/
.aside1 {
    background: rgb(0, 0, 0);
    text-decoration: none;
}
.title{
    background-color: black;
}
    

.genre-links:hover {
    animation-name: hero-zoom;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    font-size: 50px;
    text-decoration: none;
    box-shadow: 10px -10px 25px 0 rgba(143, 64, 248,0.5), -10px 10px 25px 0 rgba(39, 200, 255, 0.5);
}

.genre-links{
    text-decoration: none;
    font-size: 35px;
    text-shadow: 2px -2px 2px #26caf8, -2px 2px 2px #7c5ee9;
    
}

.genre-links a {
    text-decoration: none;
    color: white;
}

@media all and (min-width: 800px){
    .main{
        flex: 3;
    }
    .aside1{
        order: 2;
    }
    .main{
        order: 3;
    }
    .footer{
        order: 4;
    }
}


@media all and (min-width: 600px){
    .aside {
        flex: 1;
    }
}

    #menu .active {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(189, 189, 189);
    margin-left: auto;
    display: inline;
    text-decoration: none;
    
}

.text-right section{
    text-align: right;
    margin-left: auto;
    text-decoration: none;
   
}
.main .text-right {
    font-size: 50px;
}
.text-right{
    background-color: black;
}


.active{
    color: white;
}

a img { 
    display:none;
    transition-duration: .5s;
 }
a:hover img { 
    display:block;
    height: 500px;
  
 }
.responsive-video{
    overflow:auto;
    padding-left: 0;
    padding-right: 0;
    position:relative;
    height:50%;
}
.responsive-video iframe{
    left:0;
    top:0;
    height:50%;
    width:50%;
    position:absolute;
}

.container{
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000010;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;

}

.form{
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.form-group{
    width: 100%;
    margin-top: 20px;
    font-size: 20px;

}
.form-group input,
.form-group textarea{
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    margin-top: 5px;


}

textarea{
    resize: vertical;

}

button[type="submit"]{

    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    color: rgb(27, 166, 236);
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: transform .3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    box-shadow: 0 0 0 0 rgba(143, 64, 248,0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);

}

button::after {
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-color: #ff3cac;
    background-image: linear-gradient(225deg,#27d86c 0%, #26caf8 50%, #c625d0 100%);
    z-index: -1;
    transition: transform 0.5s ease;
}
button:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(143, 64, 248,0.5), -10px 10px 25px 0 rgba(39, 200, 255, 0.5);

}
button:hover::after{
    transform: rotate(150deg);
}


button[type="submit"]:hover{
    background-color: rgb(214, 226, 236);
}

    
#status{
    
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}

#status.success{
    background-color: rgb(211, 248, 156);
    animation: status 4s ease delay forwards;
}
#status.error{
    background-color: rgb(248, 135, 135);
    color: white;
    animation: status 4s ease delay forwards;

}
@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}